/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr";
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #596392;
}
*{
    box-sizing: inherit;
}
footer{
    margin-top: 50vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
}

