<div class="mt-10 p-10 bg-secondary-color text-center shadow-xl max-w-[900px] mx-auto min-h-[130px]">
    <div class="mb-5">
        <h1 class="text-3xl text-primary-color mb-2">All Blog Posts</h1>
        <p>You can manager blog from here!</p>
    </div>

   
    <div class="flex flex-row gap-5 justify-center">
        <button routerLink="/posts/new"
            type="submit" class="disabled:opacity-25 min-w-24 p-3 bg-primary-color text-white rounded-md">
            Add new Post
        </button>
        
        <button  routerLink="/"
            type="submit" class="disabled:opacity-25 min-w-24 p-3 bg-yellow-500 text-white rounded-md">
            Back to Dashboard
        </button>
    </div>          
</div>


